*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}


body{
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr);
    
    grid-template-areas: 
        'header'    'header'    'header'    'header'
        'nav'       'nav'       'nav'       'nav'
        'section1'  'section1'  'section2'  'section2'
        'section3'  'section3'  'section3'  'section3'
        'footer'    'footer'    'footer'    'footer'   
    ;   
    gap: 5px;
}

header{grid-area: header;}
nav{grid-area: nav;}
.section1{grid-area: section1;}
.section2{grid-area: section2;}
.section3{grid-area: section3;}
footer{grid-area: footer;}


header{
    background-color: #34B5E6;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
   
}

header  h1{
    color: white;
}

.login{
    padding: 5px;
    width: 100px;
    font-size: 20px;
    border-radius: 9px;
    float: right;
    margin: 30px;
    border:none;
   

   
}

.login a{
    text-decoration: none;
    font-weight: 600;
    color:#34B5E6;

}

.login:hover{
    background-color: #1a3b5c;
    transform: scale(1.1);
    transition: all 0.9s ease;
}

.logo{
    margin-left: 30px;
}

nav{

    background-color:#eeeeee;
       
}
nav ul  li{
    list-style: none;
    padding: 6px;}

nav ul{
    display: flex;
   justify-content:space-evenly;
   
}
nav ul li   a{
    text-decoration: none;
    font-weight: bold;
    color: #1a3b5c;
    
    
    
}
nav ul li a:hover{
    color: #34B5E6;
    transition: all 0.3s ease;
}

#chat:hover{
    background-color: #34B5E6;
    color: #eeeeee;
    transform: scale(0.9);
}

.main-pg1{
    width: 90%;
    margin: auto;
    
}

.container{
    
    margin-top: 50px;
}

.section1{
    width: 50%;
  
}
.section1  h2{
    font-size: 48px;
}
.section1  p{
    font-size: 32px;
    margin-top: 30px;
    padding-right: 30px ;
}

.section2{
    width: 50%;
}

.chatbot{
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 20px;
    
 
}

.chatbot  img{
    width: 120px;
    margin-top: 30px;
}

.chatbot p{
    padding: 30px;
}

.chatbot button{
    padding: 5px;
    width: 50%;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: all 0.9s;
}

.icon{
    width: 60px;
}

.cartoes{
    margin-top: 30px;
    display: flex;
    text-align: center;
    padding: 30px;

}

.cartoes p{
    text-align: left;
    margin-right: 20px;
}



footer{
    text-align: center;
    font-size:32px ;
    font-weight: bolder;
    margin-top: 30px;
}

/* desktop */
@media screen and (min-width: 1200px) {
    body{
        grid-template-areas: 
        'header'    'header'    'header'    'header'
        'nav'       'nav'       'nav'       'nav'
        'section1'  'section1'  'section2'  'section2'
        'section3'  'section3'  'section3'  'section3'
        'footer'    'footer'    'footer'    'footer'   
    ;   
    gap: 5px;
    }
    .container{
        display: flex;
    }

   
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container{
        display: flex;
    }
    
    .section1 p{
         font-size: 26px;
    
    }
}

/* tablets */

@media screen and (min-width: 768px) and (max-width: 991px){
   

    .container{
        display: flex;
    }


   .section1 h2{
    font-size: 40px;
   }
   .section1 p{
    font-size: 25px;
   }
   .section3 p{
    font-size: 15px;
    
   }
}

@media screen and (min-width: 576px) and (max-width: 767px){

    body{
        display: grid;
        grid-template-columns: repeat( auto-fit, 1fr);
        
        grid-template-areas: 
            'header'    'header'    'header'    'header'
            'nav'       'nav'       'nav'       'nav'
            'section1'  'section1'  'section1'  'section1'
            'section2'  'section2'  'section2'  'section2'
            'section3'  'section3'  'section3'  'section3'
            'footer'    'footer'    'footer'    'footer'   
        ;   
        gap: 5px;
    }

   
    .section1{
        width: 100%;
       
    }
    .section1 h2{
        text-align: center;
    }
    .section1 p{
        text-align: center;
        font-size: 25px;
    }

    .section2{
        width: 100%;
        margin-top: 30px;
       
    }
    .section2 p{
        font-size: 20px;
    }

    .section3 p{
        
            font-size: 14px; 
    }
    
}

/* celular */

@media screen and (max-width: 576px){
    body{
        display: grid;
        grid-template-columns: repeat( auto-fit, 1fr);
        
        grid-template-areas: 
            'header'    'header'    'header'    'header'
            'nav'       'nav'       'nav'       'nav'
            'section1'  'section1'  'section1'  'section1'
            'section2'  'section2'  'section2'  'section2'
            'section3'  'section3'  'section3'  'section3'
            'footer'    'footer'    'footer'    'footer'   
        ;   
        gap: 5px;
    }
    .section1{
        width: 100%;
      
       
    }
    .section1 h2{
        text-align: center;
        font-size: 40px;
    }
    .section1 p{
        text-align: center;
        font-size: 25px;
    }

    .section2{
        width: 100%;
        margin-top: 30px;
      
    }
    .section2  p{
        font-size: 20px;
    }

    .section3 .cartoes{ 
        display: block;        
        
    }
     .cartoes p{
         text-align: center;
            }
    .cartoes img{
        margin-top: 30px;
    }
    .section3  p{
        font-size: 14px;
        
    }
}





