*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif;
}



header{
    background-color: #34B5E6;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
   
}

header  h1{
    color: white;
}

.login{
    padding: 5px;
    width: 100px;
    font-size: 20px;
    border-radius: 9px;
    float: right;
    margin: 30px;
    border:none;
   

   
}

.login a{
    text-decoration: none;
    font-weight: 600;
    color:#34B5E6;

}

.login:hover{
    background-color: #1a3b5c;
    transform: scale(1.1);
    transition: all 0.9s ease;
}

.logo{
    margin-left: 30px;
}

nav{

    background-color:#eeeeee;
       
}
nav ul  li{
    list-style: none;
    padding: 6px;}

nav ul{
    display: flex;
   justify-content:space-evenly;
   
}
nav ul li   a{
    text-decoration: none;
    font-weight: bold;
    color: #1a3b5c;
    
    
    
}
nav ul li a:hover{
    color: #34B5E6;
    transition: all 0.3s ease;
}

.main-participantes{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
    
    
}

.titulo-participante{
    text-align: center;
    font-size: 60px;
    
}


.icon-usuario{
    width: 35px;
    margin-top: 20px;
    
   }
.icon-usuario:hover{
    transform: scale(1.3);
    transition: all 0.9s ease;

   }
.card-participantes  h2{
    text-align: center;

}   
.card-participantes  h2{
    text-align: center;

}

.img-participantes{
    border-radius: 50%;
    background-color: #2196f3;
    width: 250px;
    margin: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.26);

    
}


footer{
    background-color: #003060;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer p{
    margin-top: 20px;
}


@media screen and (min-width: 768px) and (max-width: 991px){
   


.main-participantes{
    flex-wrap: wrap;
    justify-content: center;      

}
.main-participantes  p{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    
   }

   .icon-usuario{
    width: 35px;
    margin-top: 20px;
    display: flex;
    margin-left: 146px;
    
   }  


}

@media screen and (min-width: 576px) and (max-width: 767px){

    

    .main-participantes{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    
        
         
    
    }
   
    .main-participantes p{
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        
       }
       .icon-usuario{
        width: 35px;
        margin-top: 20px;
        display: flex;
        margin-left: 146px;
        
       }
    
}

/* celular */

@media screen and (max-width: 576px){
    .main-participantes{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      
        
       
    
    }
    .main-participantes  p{
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        
       }
       .main-participantes h1{
        font-size: 100px;
       }
       .icon-usuario{
        width: 35px;
        margin-top: 20px;
        display: flex;
        margin-left: 146px;
        
       }
}